<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Valheim Dedicated Hosting</title>
</head>

<body>

<h1>Terms of Service</h1>
<p>By using our service you agree to be bound by these terms. We reserve the right to change these terms at any time.</p>
<br>
<h3>Billing: </h3>
<p>Your server will be billed every month to the credit card you registered with. The base cost is $14 USD/month, $11.20 for the first month if you came here on a referral link(will be $14/month after the first month), $7.00 for your next subscription invoice if you made a successful referral.
    You can choose to cancel your server at any time. Stripe will be used for
secure payment, meaning that credit card info can only be seen by Stripe (we can only see the last 4 digits for identification).</p>
<h3>Referral System: </h3>
<p>If you have made a successful referral, the cost of your next subscription invoice will become $7.5 USD. Your referral link only works once a month, once you have made a successful referral the link will expire until next month.
    This referral system only works for the first server you purchase, you will not have this privilege for additional servers. In the scenario where you have purchased more servers in additional to your first, but choose to delete the original server, the referral system will be nullified for your account as it was tied in with your first server.
</p>
<h3>3 day refund policy: </h3>
<p>Every server purchased by the customer will have a 3 day period in which a full refund will be given should they decide to cancel their subscription. The
countdown timer displayed on the billing page is only for the first server purchased with your account, additional servers purchased with the same account will
not have this feature.</p>
<h3>No Warranties: </h3>
<p>This service is provided "as is" without any warranty. Service may be interrupted at any time.</p>
<h3>Acceptable Use: </h3>
<p>Your service may be stopped if you are found to be using it for unlawful or unintended activities.</p>
</body>

</html>
